* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(./nut.jpg) fixed repeat ;
}

canvas {
    border: 5px solid grey;
    width: 1280px;
    height: 960px;
}

#nut_jpg {
    width: 50px;
    height: 50px;
}